<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>

</head>
<body>
<h1>Courses</h1>
<p>Spring boot</p>
<a href="http://localhost:8080/api/v1/students/1">student detail</a><br>
<a href="http://localhost:8080/management/api/v1/students">management student detail</a>
<form class="form-logout" method="get" action="/logout">
    <button class="btn btn-danger" type="submit">logout</button>
</form>
</body>
</html>